.container h1 {
  text-shadow: -3px 4px 0px rgba(0, 0, 0, 0.961);
  color: white;
  font-size: 3rem;
  letter-spacing: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60rem;
  height: 50rem;
  margin: auto;
  margin-bottom: 100px;
  padding: 0px 0px 50px 0px;
  background: white;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  font-size: 15px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.create {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 14px;
  margin: 50px 5px 0px 5px;
  font-weight: bold;
  padding: initial;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.buttonTop {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.create:hover .buttonTop {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.create:active .buttonTop {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.button_create {
  margin-top: 50px;
  font-size: 14px;
  padding: initial;
  font-weight: bold;
  border-radius: 0.75em;
  background-color: #5d5d5dce;
}

.form label {
  margin-top: 20px;
}

.form input {
  border-radius: 0.75em;
  width: 200px;
  padding: 3px 10px 3px 15px;
}

.form select {
  border-radius: 0.75em;
  width: 230px;
  padding: 5px 10px 5px 15px;
  cursor: pointer;
}

.error_message {
  color: rgb(220, 7, 7);
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  max-height: 20px;
}

.tempContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  max-width: 600px;
  justify-content: space-around;
}

.selectTemp {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 0.75em;
  width: 180px;
  height: 40px;
  margin: 20px 10px 0px 0px;
}

.selectTemp h3 {
  margin-right: 16px;
}

.selectTemp button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e74c3c;
  --button_outline_color: #70231b;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  padding: inherit;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.buttonRemove {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.25em 0.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.selectTemp button:hover .buttonRemove {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.selectTemp button:active .buttonRemove {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}
