.container h1 {
  text-shadow: -3px 4px 0px rgba(0, 0, 0, 0.961);
  color: white;
  font-size: 3rem;
  letter-spacing: 4px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1fr para la imagen, 2fr para la información */
  width: 65rem;
  height: 400px;
  margin: auto;
  padding: 10px 0px 50px 30px;
  background: white;
  color: black;
  border-radius: 10px;
  font-size: 20px;
  overflow: auto;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.imageContainer img {
  max-width: 546px;
  height: auto;
  border-radius: 10px;
}

.infoContainer {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infoContainer p b {
  font-style: oblique;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Alinea el contenido al final */
}
