.container {
  background: rgb(185, 241, 255);
  background: radial-gradient(
    circle,
    rgba(185, 241, 255, 1) 0%,
    rgba(225, 248, 255, 1) 77%
  );
  color: white;
  height: 100vh;
}

.backgroundImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dogImage {
  position: absolute;
  bottom: 0;
  width: 50rem;
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.535));
  height: auto;
  filter: contrast(1.2);
}

.backgroundImage h1 {
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 5px;

  background-color: #007cc5;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 100%;
  margin-block: 10rem;
}

.contentAbout h3 {
  /* text-shadow: -5px -2px 5px #000000; */
  margin-bottom: 0;
  color: #000;
}

.contentAbout p {
  margin-block: 0;
  color: #000000d0;
  font-size: 1.2rem;
}

.contentAbout {
  text-align: left;
  width: 20rem;
  align-self: flex-end;
  margin-top: 1rem;
  padding: 20px;
  z-index: 1;
}

.contentAvatars {
  color: #000;
  align-self: flex-start;
  text-align: right;
  padding: 20px;
  width: 20rem;
  z-index: 1;
}

.contentAvatars p, h2 {
  margin-block: 0;
}

.contentAbout, .contentAvatars {
  background-color: rgba(188, 228, 255, 0.648);
    border-radius: 10px;
}

.container button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  margin-top: 1.2rem;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  padding: inherit;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.buttonTop {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: #55dfff;
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.container button:hover .buttonTop {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

.container button:active .buttonTop {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

@media (max-width: 1300px) {
  .container {
    height: 100%;
  }
}

@media (max-width: 860px) {
 

  .dogImage {
    top: 0;
    max-width: 32rem;
    width: auto;
    height: auto;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.535));
    filter: contrast(1.2);
  }

  .backgroundImage {
    padding-top: 20rem;
    height: 100%;
  }

  .backgroundImage h1 {
    font-size: 5rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-block: 2rem;
  }

  .contentAvatars, .contentAbout {
    align-self: center;
    background-color: rgba(188, 228, 255, 0.648);
    border-radius: 10px;
  }
}